@use 'mixin';

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-arround {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.m25 {
    margin: 25px 0 !important;
}

.m50 {
    margin: 50px 0 !important;
}

.m1 {
    margin: 1em 0 !important;
}

.m2 {
    margin: 2em 0 !important;
}

.m3 {
    margin: 3em 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt1 {
    margin-top: 1em !important;
}

.mt2 {
    margin-top: 2em !important;
}

.mt3 {
    margin-top: 3em !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb1 {
    margin-bottom: 1em !important;
}

.mb2 {
    margin-bottom: 2em !important;
}

.mb3 {
    margin-bottom: 3em !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.p25 {
    padding: 25px 0 !important;
}

.p50 {
    padding: 50px 0 !important;
}

.p1 {
    padding: 1em 0 !important;
}

.p2 {
    padding: 2em 0 !important;
}

.p3 {
    padding: 3em 0 !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pt1 {
    padding-top: 1em !important;
}

.pt2 {
    padding-top: 2em !important;
}

.pt3 {
    padding-top: 3em !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pb1 {
    padding-bottom: 1em !important;
}

.pb2 {
    padding-bottom: 2em !important;
}

.pb3 {
    padding-bottom: 3em !important;
}

.text-underline {
    text-decoration: underline;
}

.text-bold {
    font-weight: bold;
}

.wrap-60 {
    width: 60% !important;
    margin: auto !important;

    @include mixin.max-screen(mixin.$small) {
        width: 90% !important;
    }
}

.wrap-90 {
    width: 90% !important;
    margin: auto !important;
}

.wrap-100 {
    width: 100% !important;
}

a {
    text-decoration: none;
    color: inherit;
}
